:root { 
--black_900_7f:#0000007f; 
--blue_A400_01:#2f70f2; 
--white_A700_7e:#ffffff7e; 
--indigo_A100_6c:#a4a2ff6c; 
--blue_A400:#396ef7; 
--gray_600_75:#807a7a75; 
--red_800:#d11a2a; 
--light_green_A700:#77b900; 
--black_900_90:#00000090; 
--light_green_A100:#c7ffa5; 
--indigo_200_01:#9d9fc9; 
--blue_A200:#5b92ff; 
--red_400:#e8464c; 
--black_900_3f:#0000003f; 
--green_700:#2b9943; 
--black_900_87:#00000087; 
--deep_orange_A400_33:#fa400033; 
--green_A700:#1eca4e; 
--black_900_01:#030229; 
--yellow_800:#e5ae21; 
--white_A700_56:#ffffff56; 
--black_900_87_01:#03022987; 
--blue_gray_900_01:#151d48; 
--blue_A200_63:#5b92ff63; 
--blue_gray_900:#2c2c2c; 
--black_900_03:#010025; 
--black_900_02:#060606; 
--yellow_800_01:#dfa510; 
--gray_600:#828282; 
--gray_400:#c3c0c0; 
--blue_700:#0068dd; 
--gray_800:#444444; 
--blue_gray_500:#737791; 
--gray_900_67:#23222767; 
--teal_A100:#a6f7e2; 
--black_900_0c:#0000000c; 
--indigo_900_87:#191d8887; 
--white_A700_21:#ffffff21; 
--deep_purple_50:#ece9f1; 
--indigo_200:#a3a5cf; 
--black_900_99:#03022999; 
--gray_400_01:#b0b0b0; 
--blue_100:#c3d7ff; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--orange_A100_67:#ffd56b67; 
--black_900_99_01:#00000099; 
--blue_A400_67:#367efe67; 
--red_900:#d01414; 
--blue_A700:#2f69ff; 
--indigo_A200:#605bff; 
--red_500:#ff2e2e; 
--green_800:#1a922d; 
--white_A700_72:#ffffff72; 
--black_900_1e:#0000001e; 
--white_A700_cc:#ffffffcc; 
--black_900:#000000; 
--blue_gray_900_0f:#3232470f; 
--deep_orange_600:#f94c10; 
--light_green_700:#6b8c3c; 
--yellow_900:#f46d21; 
--blue_gray_900_67:#2a285767; 
--deep_purple_A100:#b79bff; 
--purple_A100:#f7a5ff; 
--lime_400:#dec95a; 
--black_900_a2:#000000a2; 
--gray_600_02:#807a7a; 
--gray_500:#9a9a9a; 
--gray_600_01:#797979; 
--blue_gray_400:#7a91b0; 
--deep_orange_600_01:#e65f2b; 
--indigo_50:#e2e3ff; 
--black_900_6b:#0909096b; 
--gray_900:#121212; 
--orange_700:#ff7a00; 
--gray_600_7a:#807a7a7a; 
--gray_300:#e3e3e3; 
--teal_A400:#1dd5b4; 
--gray_100:#f7f7f8; 
--orange_100:#ffe5a5; 
--indigo_300:#8c8ec3; 
--white_A700_00:#ffffff00; 
--red_800_67:#b72d2a67; 
--red_800_63:#d11a2a63; 
--indigo_900:#191d88; 
}